﻿@model TransMod_Manager.ViewModels.JobHeaderViewModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

@section styles {
    @Styles.Render("https://cdn.datatables.net/1.10.21/css/jquery.dataTables.css");
    @Styles.Render("https://unpkg.com/gijgo@1.9.13/css/gijgo.min.css");

}

@section scripts{
    @Scripts.Render("https://unpkg.com/gijgo@1.9.13/js/gijgo.min.js");
    @*@Scripts.Render("https://code.jquery.com/jquery-3.5.1.js");*@
    @Scripts.Render("https://cdn.datatables.net/1.10.21/js/jquery.dataTables.min.js");
    @Scripts.Render("https://cdn.datatables.net/1.10.21/js/dataTables.bootstrap4.min.js");
    <script>
        document.ready(function () {
            $('#checkBoxAll').click(function () {
                if ($(this).is(':checked')) {
                    $('#cbCheckboxId').prop('checked', true)
                }
                else {
                    $('cbCheckboxId').prop('checked', false)
                }
            })
        });
    </script>

}
    <script type="text/javascript">
        $.noConflict();
        $(document).ready(function () {
            $('#jobHeader').DataTable();
            $('#checkBoxAll').click(function () {
                if ($(this).is(":checked")) {
                    $(".chCheckboxId").prop("checked", true)
                }
                else {
                    $(".chCheckboxId").prop("checked", false)
                }
            })
        });


    </script>
<h2>Job Headers</h2>
@using (Html.BeginForm("Index", "Jobs", FormMethod.Get))
{
    <div class="row bg-light">
        <div class="col col-sm-3">
            <label>Select Customer Code</label>
        </div>
        <div class="col col-sm-3 ">
            @Html.DropDownList("ddlCustomer", new SelectList(ViewBag.CustomerList.Items, "O_ID", "O_Code"), "none selected", new { @class = "form-control" })

        </div>
        <div class="col col-sm-2">
            <label>Job Status</label>
        </div>
        <div class="col col-sm-3">
            @Html.DropDownList("ddlStatus", new SelectList(ViewBag.StatusList.Items, "E_ID", "E_Name"), "none selected", new { @class = "form-control" })
        </div>

    </div>
    <div class="row">
        <div class="col col-sm-3">
            <label>Job Created Between: </label>
        </div>
        <div class="col col-sm-3">
            <div class="input-group date">
                <input id="dateFrompicker" name="dateFrompicker">

            </div>
            <script>
                    var today = new Date();
                    var ddf = String(today.getDate() - 7).padStart(2, '0');
                    var ddt = String(today.getDate()).padStart(2, '0');
                    var mm = String(today.getMonth() + 1).padStart(2, '0'); //January is 0!
                    var yyyy = today.getFullYear();
                    var fromDate = ddf + '/' + mm + '/' + yyyy;
                    var toDate = ddt + '/' + mm + '/' + yyyy;
                    $('#dateFrompicker').datepicker({
                        uiLibrary: 'bootstrap4',
                        format: 'dd/mm/yyyy',
                        value: '@ViewBag.DFrom'
                    });
                    $('#dateFrompicker').datepicker
            </script>
        </div>
        <div class="col col-sm-2">
            <label>To:</label>

        </div>
        <div class="col col-sm-3">
            <div class="input-group date" data-provide="dateToPicker">
                <input id="dateToPicker" name="dateToPicker">
                <script>

                        $('#dateToPicker').datepicker({
                            uiLibrary: 'bootstrap4',
                            format: 'dd/mm/yyyy',
                            value: '@ViewBag.DTo',
                        });
                        ;
                </script>
            </div>
        </div>
    </div>
    <div class="row">
        <div class="col col-sm-3">
            <label>Job No</label>
        </div>
        <div class="col col-sm-3">
            <input id="jobno" class="input-group" name="jobno" value="@ViewBag.jobno" />
        </div>
        <div class="col col-sm-2">
            <label>Description</label>
        </div>
        <div class="col col-sm-3">
            <input id="descr" class="input-group" name="descr" value="@ViewBag.descr" ] />
        </div>

    </div>
    <div class="row">
        <div class="col col-md-10 text-md-right">
            <hr />
            <input type="submit" value="Filter" />
        </div>
    </div>

}
<table class="table table-striped table-bordered" id="jobHeader" width="100%">
    <thead>
        <tr>
            <th><input type="checkbox" id="checkBoxAll" class="custom-checkbox" /></th>
            <th>Customer</th>
            <th>Transport Job No</th>
            <th>Job type</th>
            <th>Job Status</th>
            <th>Description</th>
            <th>Planned Del Date</th>
            <th>Created</th>
            <th>Last Updated</th>

        </tr>

    </thead>
    <tbody>
        @foreach (var item in Model.Jobs)
        {
            <tr>
                <td><input type="checkbox" name="ID" value="@item.J_JOBID" class="custom-checkbox chCheckboxId" /></td>
                <td>@item.Organisation.O_Code</td>
                <td>@item.J_TransportJobNo</td>
                <td>@item.J_JobType</td>
                <td>@item.Enum.E_Name</td>
                <td>@item.J_Description</td>
                <td>@item.J_PlannedDeliveryTime</td>
                <td>@item.J_CreateDate</td>
                <td>@item.J_LastUpdated</td>
            </tr>
        }

    </tbody>



</table>


