﻿@{
    ViewBag.Title = "TransMod Maintenance module";
}

<div class="jumbotron">
    <h1>TransMod Maintenance Module</h1>
    <p class="lead">The story how one Man needed to tackle to world of software development but the evil Help Desk kept holding him back</p>
    <p>Will he overcome the help desk and travel down his most desired path ? Stay Tuned. </p>
</div>

<div class="row">
    <div class="dropdown">
        <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenuButton" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            Dropdown button
        </button>
        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
            <a class="dropdown-item" href="#">Action</a>
            <a class="dropdown-item" href="#">Another action</a>
            <a class="dropdown-item" href="#">Something else here</a>
        </div>
    </div>
</div>