﻿@using TransMod_Manager.Classes
@using System.Web.Optimization
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>@ViewBag.Title </title>

    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Styles.Render("~/Content/css")

    @Scripts.Render("~/bundles/modernizr")
    <script src="https://kit.fontawesome.com/7f456184fc.js" crossorigin="anonymous"></script>
    @RenderSection("scripts", required: false)

    @RenderSection("styles", required: false)
    <style>
         .dropdown {
            display: none;
        }
    </style>
</head>
<body> <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        <a class="navbar-brand" href="#">Trans Mod</a>
        <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor02" aria-controls="navbarColor02" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>

        <div class="collapse navbar-collapse" id="navbarColor02">
            <ul class="navbar-nav mr-auto">
                <li class="nav-item @Html.IsSelected(actions: "Index", controllers: "Home")">
                    <a class="tm-nav-link @Html.IsSelected(actions: "Index", controllers: "Home")" href="@Url.Action("Index","Home")">
                        <i class="fas fa-home tm-fa-fw"></i>Home
                    </a>

                </li>
                <li class="@Html.IsSelected(actions: "Index", controllers: "Jobs")">
                    <a class="tm-nav-link  @Html.IsSelected(actions: "Index", controllers: "Jobs")" " href="@Url.Action("Index","Jobs")">
                        <i class="fas fa-truck-moving tm-fa-fw"></i>Job Queries
                    </a>
                </li>
                <li class="@Html.IsSelected(actions: "Index", controllers: "TransportLegs")">
                    <a class="tm-nav-link  @Html.IsSelected(actions: "Index", controllers: "TransportLegs")" " href="@Url.Action("Index","TransportLegs")">
                        <i class="fas fa-truck-loading tm-fa-fw"></i>Transport Legs
                    </a>
                </li>
                <li class="@Html.IsSelected(actions: "Index", controllers: "Orgs")">
                    <a class="tm-nav-link @Html.IsSelected(actions: "Index", controllers: "Orgs")" " href="@Url.Action("Index","Organisations")">
                        <i class="fas fa-address-card tm-fa-fw"></i>Organisations and Addresses
                    </a>
                </li>
                <li class="tm-nav-item ">
                    <a class="tm-nav-link @Html.IsSelected(actions: "Index", controllers: "System")" " href="@Url.Action("Index","System")"><i class="fas fa-cogs  fa-fw"></i> System</a>
               
                    
                </li>
                <li class="nav-item dropdown">
                    <a class="tm-nav-link fscollapsed text-truncate" href="#submenu1" data-toggle="collapse" data-target="#submenu1"><i class="fas fa-cogs fa-fw"></i> System</a>
                    <div class="collapse active" id="submenu1" aria-expanded="false">
                        <ul class="flex-column pl-2 nav">
                            <li class="nav-item @Html.IsSelected(actions: "Enums", controllers: "Admin")">
                                <a href="@Url.Action("Enums","Admin") @Html.IsSelected(actions: "Index", controllers: "Admin")"><i class="fas fa-building tm-fa-fw"></i> Enums</a>
                            </li>
                            <li class="nav-item @Html.IsSelected(actions: "EnmTypes", controllers: "Admin")">
                                <a href="@Url.Action("EnumTypes","Admin") @Html.IsSelected(actions: "Index", controllers: "Admin")"><i class="fas fa-calendar-check tm-fa-fw"></i>Enum Types</a>
                            </li>


                        </ul>

                    </div>
                </li>

            </ul>

        </div>
        <div>
            <div class="tm-nav-item">
                @using (Html.BeginForm("LogOff", "Account", FormMethod.Post, new { id = "logoutForm" }))
                {
                    @Html.AntiForgeryToken()
                    <a href="javascript:document.getElementById('logoutForm').submit()">
                        <i class="fas fa-sign-out-alt"></i>
                        Log Out

                    </a>
                }

            </div>
        </div>
    </nav>

    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.1.0/jquery.min.js"></script>
    <script>
        //$ This is a jQuery function that shows the sub menu as the Dropdown does not work with Bootstrap for some reason
        $(function () {
            $(".navbar-nav li.tm-nav-item").hover(
                function () {
                    //$('ul.sub', this).slideDown(500);
                    //$('>ul.sub', this).slideDown(500);
                    $('.dropdown:not(:animated)', this).slideDown(500);
                },
                function () {
                    //$('ul.sub',this).slideUp(300);
                    $('.dropdown', this).slideUp(300);
                }
            );
        });
    </script>
   



    <div class="body-content">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year - My ASP.NET Application</p>
        </footer>
    </div>
</body>
</html>
