﻿body {
    padding: 0px;
    margin: 0px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-top:10px;
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

.tm-fa-fw {
    text-align: center;
    width: 1.25em;
    padding-right: 1.5em;
}

.tm-nav-link {
    font-size: large;
    color: grey;
    display: block;
    padding-top:0.9rem;
    padding-right:1.25rem;
}

.active {
        color: white !important;
    }

a:hover {
    color: red;
    text-shadow: 1px 5px 11px white;
}

/* Set width on the form input elements since they're 100% wide by default */
input,
select,
textarea {
    max-width: 280px;
}
